= exam.fat_description
= exam.thorax_no_injury_description
= exam.diaphragm_description
= exam.pleura_adhesion_description
= exam.pleura_foreign_fluids_description
= exam.air_in_digestive_track_description
= exam.peritoneum_adhesion_description
= exam.peritoneum_foreign_fluids_description
= exam.peritoneum_no_injury_description
