= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_abdominal_wall_examination' }, url: '') do |f|
  = f.hidden_field :id
  .row
    .col-xs-6
      = f.smart_select :subcutaneous_fat_level
    .col-xs-6
      = f.number_field :subcutaneous_fat_thickness
  .row
    .col-xs-6
      = f.range_field :diaphragm_height_left, in: -1..12, step: 0.5
    .col-xs-6
      = f.range_field :diaphragm_height_right, in: -1..12, step: 0.5
  = f.smart_select :pleura_adhesion
  = f.smart_select :air_in_digestive_track
  = render 'foreign_fluids_form', form: f, prefix: :pleura
  = f.smart_select :peritoneum_adhesion
  = render 'foreign_fluids_form', form: f, prefix: :peritoneum
  = yield f
