= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_bladder_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.number_field :urine_quantity
  = f.smart_select :urine_color
  = f.smart_select :urine_transparency
  = f.smart_select :membrane_color
  = yield f
