= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_genitalia_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.number_field :length
  = f.number_field :fundal_width
  = f.number_field :cervical_width
  = f.smart_select :endometrium_color
  = f.smart_select :ovaries_presence
  = f.number_field :ovaries_distance
  = yield f
