= vue_form_for(exam) do |f|
  = f.hidden_field :id
  = f.number_field :weight
  = f.smart_select :rigor_mortis
  .row
    .col-xs-6
      = f.smart_select :epicardial_lipomatosis
    .col-xs-6
      = f.smart_select :epicardial_petechia
  .row
    .col-xs-4
      = f.number_field :extracted_blood_quantity
    .col-xs-4
      = f.smart_select :extracted_blood_color
    .col-xs-4
      = f.smart_select :extracted_blood_coagulation
  = render 'nested_plural_form', form: f, method: :coronary_arteries,
                                 fields: { stenosis: { type: :number_field,
                                 html_options: { min: '0', max: '100' } } }
  = render 'nested_plural_form', form: f, method: :heart_chambers,
                                 fields: { size: { type: :select } }
  .row
    .col-xs-6
      = f.number_field :thickness_left
      = f.smart_select :scar_left
    .col-xs-6
      = f.number_field :thickness_right
      = f.smart_select :scar_right
  .row
    .col-xs-6
      = f.number_field :pulmonary_artery_width
    .col-xs-6
      = f.smart_select :pulmonary_artery_thrombus
  = yield f
