= exam.weight_description
= exam.rigor_mortis_description
= exam.epicardial_lipomatosis_description
= exam.epicardial_petechia_description
= exam.extracted_blood_description
= exam.coronary_arteries_description
= exam.heart_chambers_description
= exam.muscles_description
= exam.pulmonary_artery_description
