= vue_form_for(setup_internal_liver_examination(exam)) do |f|
  = f.hidden_field :id
  = f.number_field :weight
  = f.smart_select :hardness
  = f.smart_select :congestion
  = f.smart_select :steatosis
  .panel.panel-default
    .panel-heading= t('activerecord.models.gall_bladder')
    .panel-body
      = f.fields_for :gall_bladder do |ff|
        = ff.smart_select :bile_color
        = ff.smart_select :bile_quantity
        = ff.smart_select :gallstones_quantity
        = ff.smart_select :gallstones_color
        = ff.smart_select :gallstones_size
  = yield f
