- left = true
= render 'primary_dual_form', exam: exam do |f|
  = f.number_field :weight
  = f.smart_select :air_content
  = f.smart_select :congestion
  = render 'foreign_fluids_form', form: f
  - if left
    - # Only show common fields (examination note) once
    = yield f
    - left = false
