= exam.no_skin_injury_description
= exam.lymph_level_description
= exam.substance_in_oesophagus_description
= exam.no_injury_membrane_description
= exam.air_track_organs_substance_description
= exam.no_remaining_injury_description
