= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_neck_organs_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.select :lymph_level, translated_internal_neck_organs_lymph_levels
  .row
    .col-xs-6
      = f.select :oesophagus_substance_id, translated_substances
    .col-xs-6
      = f.smart_select :oesophagus_substance_quantity
  - Settings.air_track_organs.each do |air_track_organ|
    .row
      .col-xs-6
        = f.select "#{air_track_organ}_substance_id", translated_substances
      .col-xs-6
        = f.smart_select "#{air_track_organ}_substance_quantity"
  = yield f
