= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_pericardium_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.smart_select :congestion
  = f.smart_select :petechia
  = yield f
