= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_pericardium_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.select :congestion, translated_internal_pericardium_congestion
  = f.select :petechia, translated_internal_pericardium_petechia
  = yield f
