<%= form_for(external_head_examination) do |f| %>
  <% if external_head_examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(external_head_examination.errors.count, "error") %> prohibited this external_head_examination from being saved:</h2>

      <ul>
      <% external_head_examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hair_natural_color %>
    <%= f.number_field :hair_natural_color %>
  </div>

  <div class="field">
    <%= f.label :hair_dyed_color %>
    <%= f.number_field :hair_dyed_color %>
  </div>

  <div class="field">
    <%= f.label :top_hair_length %>
    <%= f.text_field :top_hair_length %>
  </div>

  <div class="field">
    <%= f.label :side_hair_length %>
    <%= f.text_field :side_hair_length %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
