<p id="notice"><%= notice %></p>

<h1>External Head Examinations</h1>

<table>
  <thead>
    <tr>
      <th>Hair natural color</th>
      <th>Hair dyed color</th>
      <th>Top hair length</th>
      <th>Side hair length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @external_head_examinations.each do |external_head_examination| %>
      <tr>
        <td><%= external_head_examination.hair_natural_color %></td>
        <td><%= external_head_examination.hair_dyed_color %></td>
        <td><%= external_head_examination.top_hair_length %></td>
        <td><%= external_head_examination.side_hair_length %></td>
        <td><%= link_to 'Show', external_head_examination %></td>
        <td><%= link_to 'Edit', edit_external_head_examination_path(external_head_examination) %></td>
        <td><%= link_to 'Destroy', external_head_examination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New External Head Examination', new_external_head_examination_path %>
