<%= form_for(test_blood_type) do |f| %>
  <% if test_blood_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_blood_type.errors.count, "error") %> prohibited this test_blood_type from being saved:</h2>

      <ul>
      <% test_blood_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result %>
    <%= f.text_area :result %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
