= bootstrap_form_for(autopsy) do |f|
  - if autopsy.errors.any?
    #error_explanation
      %h2
        = pluralize(autopsy.errors.count, "error")
        prohibited this autopsy from being saved:
      %ul
        - autopsy.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field_v :number
  .field
    = f.text_field_v :suspect_name
  .field
    = f.text_field_v :victim_name
  .field
    = f.number_field :place
  .field
    = f.date_field_v :autopsy_date
  .field
    = f.time_field_v :starting_time
  .field
    = f.time_field_v :ending_time
  .field
    = f.number_field :police_station
  .field
    = f.number_field :police_inspector
  .field
    = f.number_field :judge
  .field
    = f.number_field :court
  .field
    = f.number_field :examiner
  .actions
    = f.submit
