= form_for(setup_autopsy(autopsy), builder: VueFormBuilder, html: { id: 'autopsy' }) do |f|
  - if autopsy.errors.any?
    #error_explanation
      %h2
        = pluralize(autopsy.errors.count, "error")
        prohibited this autopsy from being saved:
      %ul
        - autopsy.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :id
  = f.text_field :number
  = f.collection_select :autopsy_type_id, AutopsyType.all, :id, :name, prompt: true
  = f.fields_for :suspect do |ff|
    = ff.hidden_field :id
    = ff.text_field :name, label_name: t('activerecord.attributes.autopsy.suspect_name')
  .row
    = f.fields_for :victim do |ff|
      = ff.hidden_field :id
      .col-xs-6
        = ff.text_field :name, label_name: t('activerecord.attributes.autopsy.victim_name')
      .col-xs-3
        = ff.text_field :death_age, label_name: t('activerecord.attributes.person.age')
      .col-xs-3
        = ff.select :sex, translated_sexes, prompt: true
  .field
    = f.label :place_id
    .input-group{'v-if': '!new_place'}
      = f.collection_select :place_id, Institution.been_autopsy_place, :id, :address, no_field: true, label_name: false
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_place()'}= t 'helpers.new'
    .panel.panel-default{'v-if': 'new_place'}
      .panel-body.form-horizontal
        = f.fields_for :place do |ff|
          = ff.text_field :name
          = ff.text_field :address
          = ff.text_field :autopsy_room
          %button.col-sm-2.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_place()'}= t 'helpers.back'
  = f.date_field :autopsy_date
  = f.time_field :starting_time
  = f.time_field :ending_time
  .field
    = f.label :police_inspector
    .input-group{'v-if': '!new_police_inspector'}
      = f.collection_select :police_inspector_id, Person.been_police_inspector, :id, :name, no_field: true, label_name: false
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_police_inspector()'}= t 'helpers.new'
    .input-group{'v-if': 'new_police_inspector'}
      = f.fields_for :police_inspector do |ff|
        = ff.text_field :name, no_field: true, label_name: false
        .input-group-btn
          %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_police_inspector()'}= t 'helpers.back'
  .field
    = f.label :judge
    .input-group{'v-if': '!new_judge'}
      = f.collection_select :judge_id, Person.been_judge, :id, :name, no_field: true, label_name: false
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_judge()'}= t 'helpers.new'
    .input-group{'v-if': 'new_judge'}
      = f.fields_for :judge do |ff|
        = ff.text_field :name, no_field: true, label_name: false
        .input-group-btn
          %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_judge()'}= t 'helpers.back'
  .field
    = f.label :examiner
    .input-group{'v-if': '!new_examiner'}
      = f.collection_select :examiner_id, Person.been_examiner, :id, :name, no_field: true, label_name: false
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_examiner()'}= t 'helpers.new'
    .input-group{'v-if': 'new_examiner'}
      = f.fields_for :examiner do |ff|
        = ff.text_field :name, no_field: true, label_name: false
        .input-group-btn
          %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_examiner()'}= t 'helpers.back'
  - if action_name != 'new'
    = render 'nested_array_form', form: f, method: :participations,
             fields: { role: { type: :select,
                         encapsulating_element: { class: 'col-xs-6'} },
                       person_id: { type: :collection_select,
                         encapsulating_element: { class: 'col-xs-5'},
                         collection: Person.all,
                         value_method: :id,
                         text_method: :name } }
  .actions
    = f.submit if action_name == 'new'
  %div.hide{id: 'autopsy_action_name'}= action_name
