= bootstrap_form_for(autopsy) do |f|
  - if autopsy.errors.any?
    #error_explanation
      %h2
        = pluralize(autopsy.errors.count, "error")
        prohibited this autopsy from being saved:
      %ul
        - autopsy.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field_v :number
  .field
    = f.label :suspect_name
    %input{name: 'autopsy[suspect]', 'v-model': 'suspect_name', class: 'form-control'}
  .field
    = f.label :victim_name
    %input{name: 'autopsy[victim]', 'v-model': 'victim_name', class: 'form-control'}
  .field
    = f.number_field :place
  .field
    = f.date_select :autopsy_date
  .field
    = f.time_select :starting_time
  .field
    = f.time_select :ending_time
  .field
    = f.number_field :police_station
  .field
    = f.number_field :police_inspector
  .field
    = f.number_field :judge
  .field
    = f.number_field :court
  .actions
    = f.submit
