= bootstrap_form_for(setup_autopsy(autopsy)) do |f|
  - if autopsy.errors.any?
    #error_explanation
      %h2
        = pluralize(autopsy.errors.count, "error")
        prohibited this autopsy from being saved:
      %ul
        - autopsy.errors.full_messages.each do |message|
          %li= message
  .field
    = f.text_field_v :number
  .field
    = f.collection_select(:autopsy_type_id, AutopsyType.all, :id, :name, prompt: true)
  .field
    %label{for: 'autopsy_suspect_name'}= t 'activerecord.attributes.autopsy.suspect_name'
    %input#autopsy_suspect_name.form-control{type: "text", name: "autopsy[suspect_attributes][name]", 'v-model': 'suspect_attributes.name', value: autopsy.suspect.name}
  .field.row
    .col-md-6
      %label{for: 'autopsy_victim_name'}= t 'activerecord.attributes.autopsy.victim_name'
      %input#autopsy_victim_name.form-control{type: "text", name: "autopsy[victim_attributes][name]", 'v-model': 'victim_attributes.name', value: autopsy.victim.name}
    .col-md-3
      %label{for: 'autopsy_victim_death_age'}= t 'activerecord.attributes.person.age'
      %input#autopsy_victim_death_age.form-control{type: "text", name: "autopsy[victim_attributes][death_age]", 'v-model': 'victim_attributes.death_age', value: autopsy.victim.death_age}
    .col-md-3
      %label{for: 'autopsy_victim_sex'}= t 'activerecord.attributes.person.sex'
      %select.form-control{name: "autopsy[victim_attributes][sex]", 'v-model': 'victim_attributes.sex', value: autopsy.victim.sex}
        - Person.sexes.each do |sex, _|
          %option{value: sex}= t "sex.#{sex}"
  .field
    %label{for: 'autopsy_place_id'}= t 'activerecord.attributes.autopsy.place'
    .input-group{'v-if': '!new_place'}
      %select#autopsy_place_id.form-control{name: "autopsy[place_id]", 'v-model': 'place_id', value: autopsy.place_id}
        - Institution.been_autopsy_place.all.each do |institution, _|
          %option{value: institution.id}= institution.address
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_place()'}= t 'helpers.new'
    .panel.panel-default{'v-if': 'new_place'}
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-2.control-label{for: 'autopsy_place_name'}= t 'activerecord.attributes.institution.name'
          .col-sm-8
            %input#autopsy_place_name.form-control{type: "text", name: "autopsy[place_attributes][name]", 'v-model': 'place_attributes.name', value: autopsy.place.name}
          %button.col-sm-2.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_place()'}= t 'helpers.back'
        .form-group
          %label.col-sm-2.control-label{for: 'autopsy_place_address'}= t 'activerecord.attributes.institution.address'
          .col-sm-8
            %input#autopsy_place_address.form-control{type: "text", name: "autopsy[place_attributes][address]", 'v-model': 'place_attributes.address', value: autopsy.place.address}
        .form-group
          %label.col-sm-2.control-label{for: 'autopsy_place_autopsy_room'}= t 'activerecord.attributes.institution.autopsy_room'
          .col-sm-8
            %input#autopsy_place_autopsy_room.form-control{type: "text", name: "autopsy[place_attributes][autopsy_room]", 'v-model': 'place_attributes.autopsy_room', value: autopsy.place.autopsy_room}
  .field
    = f.date_field_v :autopsy_date
  .field
    = f.time_field_v :starting_time
  .field
    = f.time_field_v :ending_time
  .field
    %label{for: 'autopsy_police_inspector_name'}= t 'activerecord.attributes.autopsy.police_inspector'
    .input-group{'v-if': '!new_police_inspector'}
      %select.form-control{name: "autopsy[police_inspector_id]", 'v-model': 'police_inspector_id', value: autopsy.police_inspector_id}
        - Person.been_police_inspector.all.each do |person, _|
          %option{value: person.id}= person.name
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_police_inspector()'}= t 'helpers.new'
    .input-group{'v-if': 'new_police_inspector'}
      %input#autopsy_police_inspector_name.form-control{type: "text", name: "autopsy[police_inspector_attributes][name]", 'v-model': 'police_inspector_attributes.name', value: autopsy.police_inspector.name}
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_police_inspector()'}= t 'helpers.back'
  .field
    %label{for: 'autopsy_judge_name'}= t 'activerecord.attributes.autopsy.judge'
    .input-group{'v-if': '!new_judge'}
      %select.form-control{name: "autopsy[judge_id]", 'v-model': 'judge_id', value: autopsy.judge_id}
        - Person.been_judge.all.each do |person, _|
          %option{value: person.id}= person.name
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_judge()'}= t 'helpers.new'
    .input-group{'v-if': 'new_judge'}
      %input#autopsy_judge_name.form-control{type: "text", name: "autopsy[judge_attributes][name]", 'v-model': 'judge_attributes.name', value: autopsy.judge.name}
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_judge()'}= t 'helpers.back'
  .field
    %label{for: 'autopsy_examiner_name'}= t 'activerecord.attributes.autopsy.examiner'
    .input-group{'v-if': '!new_examiner'}
      %select.form-control{name: "autopsy[examiner_id]", 'v-model': 'examiner_id', value: autopsy.examiner_id}
        - Person.been_examiner.all.each do |person, _|
          %option{value: person.id}= person.name
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_examiner()'}= t 'helpers.new'
    .input-group{'v-if': 'new_examiner'}
      %input#autopsy_examiner_name.form-control{type: "text", name: "autopsy[examiner_attributes][name]", 'v-model': 'examiner_attributes.name', value: autopsy.examiner.name}
      .input-group-btn
        %button.btn.btn-default{type: 'button', 'v-on:click': 'switch_new_examiner()'}= t 'helpers.back'
  .actions
    = f.submit
