%p 以　上

- date_format = t('time.formats.official_date')
= @autopsy.autopsy_date.to_era(date_format) if @autopsy.autopsy_date.present?
%br
= @autopsy.place.try(:address)
%br
- if @autopsy.examiner.present?
  = @autopsy.examiner.try(:institution).try(:name)
  = @autopsy.examiner.affiliation
  %br
  %span= t('autopsies.browse.show.signature',
    examiner_name: @autopsy.examiner.name)

%p= t('autopsies.browse.show.end_of_text')
