<p>
  以　上
</p>

<%= @autopsy.autopsy_date.to_era("%O%E年%m月%d日") if @autopsy.autopsy_date.present? %><br />
<%= @autopsy.place.try(:address) %><br />
<% if @autopsy.examiner.present? %>
  <%= @autopsy.examiner.try(:institution).try(:name) %><%= @autopsy.examiner.affiliation %><br />
  鑑定人　<%= @autopsy.examiner.name %>　医師
<% end %>

<p>
以下余白
</p>
