%p 以　上

- date_format = t('time.formats.official_date')
= @autopsy.autopsy_date.to_era(date_format) if @autopsy.autopsy_date.present?
%br
= @autopsy.place.try(:address)
%br
- if @autopsy.examiner.present?
  = @autopsy.examiner.try(:institution).try(:name)
  = @autopsy.examiner.affiliation
  %br
  %span 鑑定人　#{@autopsy.examiner.name}　医師

%p 以下余白
