<h1>鑑　定　書</h1>

<p>
  <%= @autopsy.introduction_text %>
</p>

<p>
  <%= @autopsy.second_paragraph_text %>
</p>

<h2>第　１　章　結　　　論</h2>

<ol>
  <% @autopsy.conclusions.each do |conclusion| %>
    <li> <%= conclusion.content %></li>
  <% end %>
</ol>

<h2>第　２　章　説　　　明</h2>

<h3>鑑　定　事　項</h3>

<ol>
  <% @autopsy.explanations.each do |explanation| %>
    <li> <%= explanation.title %></li>
  <% end %>
</ol>


<% @autopsy.explanations.each_with_index do |explanation, i| %>
  <h4> <%= i+1 %>. <%= explanation.title %></h4>
  <p>
    <%= explanation.content %>
  </p>
<% end %>

<h2>第　3　章　 剖　　検　　記　　録</h2>

<div>
  <%= @autopsy.victim_description %>
</div>

<% external_examination_started = false %>
<% internal_examination_started = false %>
<% analyses_started = false %>
<% internal_head_examination_started = false %>
<% internal_torso_examination_started = false %>
<% section_count = 0 %>
<% syoken_count = 0 %>
<% kaiken_count = 0 %>
<% @autopsy.examinations.includes(:examination_type, :injuries).each do |examination| %>
  <% if examination.examination_type.external? && !external_examination_started %>
    <% external_examination_started = true %>
    <h3>（<%= (syoken_count+=1).to_full_width %>）　<%=t('section_title.external_examination')%></h3>
  <% end %>
  <% if examination.examination_type.internal? %>
    <% if !internal_examination_started %>
      <% internal_examination_started = true %>
      <h3>（<%= (syoken_count+=1).to_full_width %>）　<%=t('section_title.internal_examination')%></h3>
    <% end %>
    <% if examination.examination_type.head? && !internal_head_examination_started %>
      <% internal_head_examination_started = true %>
      <h3><%= (kaiken_count+=1).to_full_width_letter %>：頭腔開検</h3>
    <% end %>
    <% if examination.examination_type.torso? && !internal_torso_examination_started %>
      <% internal_torso_examination_started = true %>
      <h3><%= (kaiken_count+=1).to_full_width_letter %>：頸胸腹開検</h3>
    <% end %>
  <% end %>
  <h4><%= section_count += 1 %>．<%= I18n.t "section_title.#{examination.examination_type.category}.#{examination.examination_type.name}" %></h4>
  <p>
    <%= render partial: "autopsies/#{examination.examination_type.category}/#{examination.examination_type.name}", locals: { exam: examination.get } %>
    <%= examination.note %>
    <% if examination.injuries.none? %>
      損傷等の異常なし。
    <% end %>
  </p>
<% end %>
<% @autopsy.ordered_analyses.each do |analysis| %>
  <%
  section_count += 1
  if analysis.analysis_type.other?
    section_title_content = analysis.get.title
  else
    section_title_content = I18n.t "section_title.analyses.#{analysis.analysis_type.name}"
  end
  section_title = "#{section_count}．#{section_title_content}"
  if !analyses_started
    analyses_started = true
    %>
    <h3>（<%= (syoken_count+=1).to_full_width %>）　諸検査の成績</h3>
  <% end %>
  <h4><%= section_title %></h4>
  <p>
    <%= render partial: "autopsies/analyses/#{analysis.analysis_type.name}", locals: { this: analysis.get } %>
  </p>
  <%= analysis.note %>
<% end %>

<%= render 'sign', autopsy: @autopsy %>
