.row
  #leftCol.col-md-1.col-sm-2.col-xs-3
    %ul.nav.nav-stacked#sidebar
      %li.nav-item
        %a{href: '#autopsy_head'}= t '.title'
      - ExaminationType.external.order(:placement).each do |examination_type|
        %li.nav-item
          %a{href: "##{examination_type.category}_#{examination_type.name}_examination_head"}= t "section_title.#{examination_type.category}.#{examination_type.name}"
  #mainCol.col-md-11.col-sm-10.col-xs-9
    %h1#autopsy_head= t '.title'

    .row
      .col-sm-6
        = render 'form', autopsy: @autopsy
      .col-sm-6
        #autopsy_errors.alert.alert-danger
        #autopsy_preview= render 'preview'
    - ExaminationType.external.order(:placement).each do |examination_type|
      - examination = @autopsy.examination(examination_type.name)
      - examination ||= Examination.new(examination_type: examination_type)
      = render 'examinations/form', exam: examination.get, examination_type: examination_type
