= hidden_field :autopsy, :id, value: @autopsy.id
.row
  #leftCol.col-md-1.col-sm-2.col-xs-3
    %ul.nav.nav-stacked#sidebar
      %li.nav-item
        = link_to t('section_title.external_examination'), edit_external_autopsy_path(@autopsy), class: 'nav-big-item'
      %li.nav-item
        .nav-big-item= t('section_title.internal_examination')
        - ExaminationType.internal.each do |examination_type|
          %li.nav-item
            %a{href: "##{examination_type.category}_#{examination_type.name}_examination_head"}= t "section_title.#{examination_type.category}.#{examination_type.name}"
      %li.nav-item
        = link_to t('section_title.analyses_title'), edit_analyses_autopsy_path(@autopsy), class: 'nav-big-item'
  #mainCol.col-md-11.col-sm-10.col-xs-9
    %h1#autopsy_head= t '.title'
    - ExaminationType.internal.each do |examination_type|
      - examination = @autopsy.examination(examination_type)
      - examination ||= Examination.new(examination_type: examination_type)
      = render 'examinations/form', exam: examination.get, examination_type: examination_type
