= hidden_field :autopsy, :id, value: @autopsy.id
- analysis_types = AnalysisType.decorate
.left_col
  %ul.nav.nav-stacked
    %li.nav-item
      = link_to t('section_title.external_examination'),
                edit_external_autopsy_path(@autopsy), class: 'nav-big-item'
    %li.nav-item
      = link_to t('section_title.internal_examination'),
                edit_internal_autopsy_path(@autopsy), class: 'nav-big-item'
    %li.nav-item
      .nav-big-item= t('section_title.analyses_title')
      - analysis_types.each do |analysis_type|
        %li.nav-item
          = link_to analysis_type.section_title, "##{analysis_type.head_id}"
      %li.nav-item
        = link_to t('analysis_others.form_section_title'),
                  '#analysis_other_head'
.main_col
  %h1= t '.title'
  - analysis_types.each do |analysis_type|
    - analysis = @autopsy.analysis(analysis_type.object)
    = render 'analyses/form', exam: analysis.get, analysis_type: analysis_type
  = render 'analysis_others/form'
