= button_to 'New Autopsy', new_autopsy_path, method: :get, class: 'btn btn-default'
%h1= t '.title'
%label
  %h4
    = t '.filter_number'
    = text_field_tag('filterNumber', '', class: 'filtering_textarea')
%label
  %h4
    = t '.filter_examiner'
    = text_field_tag('filterExaminer', '', class: 'filtering_textarea')
%label
  %h4
    = t '.filter_police_inspector'
    = text_field_tag('filterPoliceInspector', '', class: 'filtering_textarea')
%input.btn.btn-default#autopsy_filtering{ value: 'Filtering', type: 'button' }
%table
  %thead
    %tr
      %th
        - @query = request.query_parameters
        - if request.url.index('id+DESC').nil?
          = link_to "#{t'.table.id'}#{t'.table.descending'}", api_autopsies_url(order: 'id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.id'}#{t'.table.ascending'}", api_autopsies_url(order: 'id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('autopsy_type_id+DESC').nil?
          = link_to "#{t'.table.autopsy_type'}#{t'.table.descending'}", api_autopsies_url(order: 'autopsy_type_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.autopsy_type'}#{t'.table.ascending'}", api_autopsies_url(order: 'autopsy_type_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('completed+DESC').nil?
          = link_to "#{t'.table.completed'}#{t'.table.descending'}", api_autopsies_url(order: 'completed DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.completed'}#{t'.table.ascending'}", api_autopsies_url(order: 'completed', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('number+DESC').nil?
          = link_to "#{t'.table.number'}#{t'.table.descending'}", api_autopsies_url(order: 'number DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.number'}#{t'.table.ascending'}", api_autopsies_url(order: 'number', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('approved+DESC').nil?
          = link_to "#{t'.table.approved'}#{t'.table.descending'}", api_autopsies_url(order: 'approved DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.approved'}#{t'.table.ascending'}", api_autopsies_url(order: 'approved', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('suspect_id+DESC').nil?
          = link_to "#{t'.table.suspect'}#{t'.table.descending'}", api_autopsies_url(order: 'suspect_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.suspect'}#{t'.table.ascending'}", api_autopsies_url(order: 'suspect_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('victim_id+DESC').nil?
          = link_to "#{t'.table.victim'}#{t'.table.descending'}", api_autopsies_url(order: 'victim_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.victim'}#{t'.table.ascending'}", api_autopsies_url(order: 'victim_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('place_id+DESC').nil?
          = link_to "#{t'.table.place'}#{t'.table.descending'}", api_autopsies_url(order: 'place_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.place'}#{t'.table.ascending'}", api_autopsies_url(order: 'place_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('autopsy_date+DESC').nil?
          = link_to "#{t'.table.autopsy_date'}#{t'.table.descending'}", api_autopsies_url(order: 'autopsy_date DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.autopsy_date'}#{t'.table.ascending'}", api_autopsies_url(order: 'autopsy_date', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('starting_time+DESC').nil?
          = link_to "#{t'.table.starting_time'}#{t'.table.descending'}", api_autopsies_url(order: 'starting_time DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.starting_time'}#{t'.table.ascending'}", api_autopsies_url(order: 'starting_time', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('ending_time+DESC').nil?
          = link_to "#{t'.table.ending_time'}#{t'.table.descending'}", api_autopsies_url(order: 'ending_time DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.ending_time'}#{t'.table.ascending'}", api_autopsies_url(order: 'ending_time', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('police_station_id+DESC').nil?
          = link_to "#{t'.table.police_station'}#{t'.table.descending'}", api_autopsies_url(order: 'police_station_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.police_station'}#{t'.table.ascending'}", api_autopsies_url(order: 'police_station_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('police_inspector_id+DESC').nil?
          = link_to "#{t'.table.police_inspector'}#{t'.table.descending'}", api_autopsies_url(order: 'police_inspector_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.police_inspector'}#{t'.table.ascending'}", api_autopsies_url(order: 'police_inspector_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('court_id+DESC').nil?
          = link_to "#{t'.table.court'}#{t'.table.descending'}", api_autopsies_url(order: 'court_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.court'}#{t'.table.ascending'}", api_autopsies_url(order: 'court_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('judge_id+DESC').nil?
          = link_to "#{t'.table.judge'}#{t'.table.descending'}", api_autopsies_url(order: 'judge_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.judge'}#{t'.table.ascending'}", api_autopsies_url(order: 'judge_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('examiner_id+DESC').nil?
          = link_to "#{t'.table.examiner'}#{t'.table.descending'}", api_autopsies_url(order: 'examiner_id DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.examiner'}#{t'.table.ascending'}", api_autopsies_url(order: 'examiner_id', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('created_at+DESC').nil?
          = link_to "#{t'.table.created_at'}#{t'.table.descending'}", api_autopsies_url(order: 'created_at DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.created_at'}#{t'.table.ascending'}", api_autopsies_url(order: 'created_at', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th
        - @query = request.query_parameters
        - if request.url.index('updated_at+DESC').nil?
          = link_to "#{t'.table.updated_at'}#{t'.table.descending'}", api_autopsies_url(order: 'updated_at DESC', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
        - else
          = link_to "#{t'.table.updated_at'}#{t'.table.ascending'}", api_autopsies_url(order: 'updated_at', number: @query['number'], examiner_id: @query['examiner_id'], police_inspector_id: @query['police_inspector_id'])
      %th{ colspan: '3' }
  %tbody
    - @autopsies.each do |autopsy|
      %tr
        %td= autopsy.id
        %td= autopsy.autopsy_type&.name
        %td= autopsy.completed
        %td= autopsy.number
        %td= autopsy.approved
        %td= autopsy.suspect&.name
        %td= autopsy.victim&.name
        %td= autopsy.place&.name
        %td= autopsy.autopsy_date
        %td= autopsy.starting_time
        %td= autopsy.ending_time
        %td= autopsy.police_station&.name
        %td= autopsy.police_inspector&.name
        %td= autopsy.court&.name
        %td= autopsy.judge&.name
        %td= autopsy.examiner&.name
        %td= autopsy.created_at
        %td= autopsy.updated_at
        %td= button_to 'Show', browse_autopsy_path(autopsy, locale: I18n.locale), method: :get, class: 'btn btn-default'
        %td= button_to 'Edit', edit_external_autopsy_path(autopsy, locale: I18n.locale), method: :get, class: 'btn btn-default'
        %td= button_to 'Download', autopsy_lmml_file_path(autopsy, locale: I18n.locale), method: :get, class: 'btn btn-default'
