%p{:id=>'notice'}
= notice

/todoリソース化 New Autopsy
= button_to 'New Autopsy', new_autopsy_path,{method: :get,class:'btn btn-default'}

%h1
  /todoリソース化
  Autopsies

%h4
  /todoリソース化
  Number
  = text_field_tag('filter')
  /todoリソース化
  Examiner Id
  = text_field_tag('filter')
  /todoリソース化
  Police Inspector Id
  = text_field_tag('fsilter')

  = button_to('Filtering','',{class:'btn btn-default'})

%table
  %thead
    %tr
      %th
        -if (request.url).index('completed+DESC')!=nil
          /todoリソース化 Completed
          =link_to('Completed','./autopsies?order=completed')
          ▲
        -else
          /todoリソース化 Completed
          =link_to('Completed','./autopsies?order=completed+DESC')
          ▼
      %th
        -if (request.url).index('number+DESC')!=nil
          /todoリソース化 Number
          =link_to('Number','./autopsies?order=number')
          ▲
        -else
          /todoリソース化 Number
          =link_to('Number','./autopsies?order=number+DESC')
          ▼
      %th
        -if (request.url).index('suspect_id+DESC')!=nil
          /todoリソース化 Suspect
          =link_to('Suspect','./autopsies?order=suspect_id')
          ▲
        -else
          /todoリソース化 Suspect
          =link_to('Suspect','./autopsies?order=suspect_id+DESC')
          ▼
      %th
        -if (request.url).index('victim_id+DESC')!=nil
          /todoリソース化 Victim
          =link_to('Victim','./autopsies?order=victim_id')
          ▲
        -else
          /todoリソース化 Victim
          =link_to('Victim','./autopsies?order=victim_id+DESC')
          ▼
      %th
        -if (request.url).index('place_id+DESC')!=nil
          /todoリソース化 Place
          =link_to('Place','./autopsies?order=place_id')
          ▲
        -else
          /todoリソース化 Place
          =link_to('Place','./autopsies?order=place_id+DESC')
          ▼
      %th
        -if (request.url).index('autopsy_id+DESC')!=nil
          /todoリソース化 Autopsy date
          =link_to('Autopsy date','./autopsies?order=autopsy_date')
          ▲
        -else
          /todoリソース化 Autopsy date
          =link_to('Autopsy date','./autopsies?order=autopsy_date+DESC')
          ▼
      %th
        -if (request.url).index('starting_time+DESC')!=nil
          /todoリソース化 Starting time
          =link_to('Starting time','./autopsies?order=starting_time')
          ▲
        -else
          /todoリソース化 Starting time
          =link_to('Starting time','./autopsies?order=starting_time+DESC')
          ▼
      %th
        -if (request.url).index('ending_time+DESC')!=nil
          /todoリソース化 Ending time
          =link_to('Ending time','./autopsies?order=ending_time')
          ▲
        -else
          /todoリソース化 Ending time
          =link_to('Ending time','./autopsies?order=ending_time+DESC')
          ▼
      %th
        -if (request.url).index('police_station_id+DESC')!=nil
          /todoリソース化 Police station
          =link_to('Police station','./autopsies?order=police_station_id')
          ▲
        -else
          /todoリソース化 Police station
          =link_to('Police station','./autopsies?order=police_station_id+DESC')
          ▼
      %th
        -if (request.url).index('police_inspector_id+DESC')!=nil
          /todoリソース化 inspector
          =link_to('Police inspector','./autopsies?order=police_inspector_id')
          ▲
        -else
          /todoリソース化 inspector
          =link_to('Police inspector','./autopsies?order=police_inspector_id+DESC')
          ▼
      %th
        -if (request.url).index('court_id+DESC')!=nil
          /todoリソース化 Court
          =link_to('Court','./autopsies?order=court_id')
          ▲
        -else
          /todoリソース化 Court
          =link_to('Court','./autopsies?order=court_id+DESC')
          ▼
      %th
        -if (request.url).index('judge_id+DESC')!=nil
          /todoリソース化 Judge
          =link_to('Judge','./autopsies?order=judge_id')
          ▲
        -else
          /todoリソース化 Judge
          =link_to('Judge','./autopsies?order=judge_id+DESC')
          ▼
      %th{:colspan => '3'}

  %tbody
    - @autopsies.each do |autopsy|
      %tr
        %td= autopsy.completed
        %td= autopsy.number
        %td= autopsy.suspect_id
        %td= autopsy.victim_id
        %td= autopsy.place_id
        %td= autopsy.autopsy_date
        %td= autopsy.starting_time
        %td= autopsy.ending_time
        %td= autopsy.police_station_id
        %td= autopsy.police_inspector_id
        %td= autopsy.court_id
        %td= autopsy.judge_id
        /todoリソース化 Show Edit Download
        %td= button_to 'Show', browse_autopsy_path(autopsy,locale: I18n.locale),{method: :get,class:'btn btn-default'}
        %td= button_to 'Edit', edit_external_autopsy_path(autopsy, locale: I18n.locale),{method: :get,class:'btn btn-default'}
        %td= button_to 'Download',autopsy_lmml_file_path(autopsy,locale: I18n.locale),{method: :get,class:'btn btn-default'}
%br
