<p id="notice"><%= notice %></p>

<p>
  <strong>Coordinate system:</strong>
  <%= @in_body_orientation.coordinate_system %>
</p>

<p>
  <strong>X:</strong>
  <%= @in_body_orientation.x %>
</p>

<p>
  <strong>Y:</strong>
  <%= @in_body_orientation.y %>
</p>

<%= link_to 'Edit', edit_in_body_orientation_path(@in_body_orientation) %> |
<%= link_to 'Back', in_body_orientations_path %>
