%h1#autopsy_photograph_taking_head= t('autopsy_photograph_takings.title')
#autopsy_photograph_taking
  %div{ 'v-if': 'errors', 'v-text': 'errors' }
  - AutopsyPhotographTaking.categories.each do |category, _|
    .col-sm-3
      %h2= t("autopsy_photograph_takings.#{category}")
      %div{ 'v-for': "taking in #{category}Takings" }
        %img{ ':src': 'taking.photograph.picture' }
        = label_tag t('activerecord.attributes.photograph.caption')
        = text_field_tag :caption, '',
                         class: 'form-control',
                         'v-model': 'taking.photograph.caption'
