<p id="notice"><%= notice %></p>

<h1>Body References</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @body_references.each do |body_reference| %>
      <tr>
        <td><%= body_reference.name %></td>
        <td><%= link_to 'Show', body_reference %></td>
        <td><%= link_to 'Edit', edit_body_reference_path(body_reference) %></td>
        <td><%= link_to 'Destroy', body_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Body Reference', new_body_reference_path %>
