<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @person.institution_id %>
</p>

<p>
  <strong>Identification number:</strong>
  <%= @person.identification_number %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role_id %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
