<p id="notice"><%= notice %></p>

<h1>Test Blood Type Experiments</h1>

<table>
  <thead>
    <tr>
      <th>Serum</th>
      <th>Reaction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_blood_type_experiments.each do |test_blood_type_experiment| %>
      <tr>
        <td><%= test_blood_type_experiment.serum %></td>
        <td><%= test_blood_type_experiment.reaction %></td>
        <td><%= link_to 'Show', test_blood_type_experiment %></td>
        <td><%= link_to 'Edit', edit_test_blood_type_experiment_path(test_blood_type_experiment) %></td>
        <td><%= link_to 'Destroy', test_blood_type_experiment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Blood Type Experiment', new_test_blood_type_experiment_path %>
