.row
  %h1#analysis_other_head= t('analysis_others.form_section_title')
.row
  .col-sm-12#analysis_other
    %div.alert.alert-danger{ 'v-if': 'errors', 'v-text': 'errors' }
    %div{ 'v-for': 'analysis in analysis_others' }
      = label_tag t('activerecord.attributes.analysis_other.title')
      %button.btn.btn-danger.btn-xs{ '@click': 'deleteAnalysis(analysis)' } X
      = text_field_tag :title, '', class: 'form-control', 'v-model': 'analysis.title', '@keyup': 'save(analysis)'
      = label_tag t('activerecord.attributes.analysis_other.content')
      = text_area_tag :content, '', class: 'form-control', 'v-model': 'analysis.content', '@keyup': 'save(analysis)'
    %button.btn.btn-default{ '@click': 'addAnalysis()' }= t('analysis_others.add')
