- exam.each_biochemical_analyses do |analysis, i|
  %h4= analysis.title(i)
  %p= analysis.description

  %table
    %tbody
      - analysis.biochemical_analysis_results.each do |result|
        %tr
          %td= result.molecule_name
          %td= result.quantity_description
          %td= result.standard_description
