- this.biochemical_analyses.includes(:biochemical_analysis_type, :contract_institution, biochemical_analysis_results: :molecule).each_with_index do |analysis, i|
  %h4= "#{i+1}) #{analysis.biochemical_analysis_type.translation.title}"
  %p= analysis.description

  %table
    %tbody
      - analysis.biochemical_analysis_results.each do |result|
        %tr
          %td= result.molecule.translation.name
          %td= result.quantity_description
          %td= "（正常値 #{result.molecule.standard_description}）" if result.molecule.standard_description.present?
