= exam.description

- if exam.found?
  %table
    %tbody
      - if exam.heart_concentration_present?
        %tr
          %td= t('activerecord.attributes.analysis_ethanol.heart_concentration')
          %td= exam.heart_concentration_description
      - if exam.iliac_vein_concentration_present?
        %tr
          %td= t('activerecord.attributes.analysis_ethanol.iliac_vein_concentration')
          %td= exam.iliac_vein_concentration_description
