= exam.description

- if exam.found_poisons.any?
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.found_poison.drug_id')
        %th= t('analysis_poisonings.in_blood_concentration')
    %tbody
      - exam.found_poisons.each do |poison|
        %tr
          %td= poison.drug_description
          %td= poison.concentration_description
