= exam.description

- if exam.not_positive_results.any?
  %table
    %thead
      %tr
        %th= t('activerecord.attributes.triage_drug_result.drug_id')
        %th= t('analysis_triages.threshold_concentration')
    %tbody
      - exam.not_positive_results.each do |result|
        %tr
          %td= result.drug_description
          %td= result.drug_concentration_threshold
