%h1= t('autopsies.browse.show.title')

%p= autopsy.introduction_text

%p= autopsy.second_paragraph_text

%h2= t('autopsies.browse.show.conclusions')

%ol
  - @autopsy.conclusions.each do |conclusion|
    %li= conclusion.content

%h2= t('autopsies.browse.show.explanations')

%h3= t('autopsies.browse.show.results')

%ol
  - @autopsy.explanations.each do |explanation|
    %li= explanation.title


- @autopsy.explanations.each_with_index do |explanation, i|
  %h4 #{i+1}. #{explanation.title}
  %p= explanation.content

%h2= t('autopsies.browse.show.autopsy_records')

%div= autopsy.victim_description

%div!= autopsy.autopsy_records

= render 'sign', autopsy: @autopsy
