<%= form_for(test_triage) do |f| %>
  <% if test_triage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test_triage.errors.count, "error") %> prohibited this test_triage from being saved:</h2>

      <ul>
      <% test_triage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
