<p id="notice"><%= notice %></p>

<h1>Test Triages</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_triages.each do |test_triage| %>
      <tr>
        <td><%= test_triage.note %></td>
        <td><%= link_to 'Show', test_triage %></td>
        <td><%= link_to 'Edit', edit_test_triage_path(test_triage) %></td>
        <td><%= link_to 'Destroy', test_triage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Triage', new_test_triage_path %>
