-#
  @analysis_type: Instance of AnalysisTypeDecorator
  @exam: Instance derived of ExaminationBase (not a decorator!)
.row
  %h1{ id: analysis_type.head_id }= analysis_type.section_title
.row
  .col-sm-6
    - begin
      = render "#{analysis_type.partial_show_path}_form", exam: exam do |f|
        -# Initialize analysis
        - exam.analysis ||= Analysis.new(analysis_type: analysis_type.object)
        = f.fields_for :analysis do |ff|
          = ff.text_field :note
    - rescue ActionView::MissingTemplate # TODO Remove when all forms are done
      -# haml-lint:disable InlineStyles
      %div{ style: 'color:red' }= $!
  .col-sm-6
    .alert.alert-danger{ id: "analysis_#{analysis_type.name}_errors" }
    %div{ id: "analysis_#{analysis_type.name}_preview" }
      -# Remove this begin/rescue when decorators are all implemented
      - begin
        = render analysis_type.partial_show_path, exam: exam.decorate
      - rescue # TODO Falls back to deprecated implementation.
        -# haml-lint:disable InlineStyles
        %div{ style: 'color:red' } #{$!} (no decorator support)
        = render partial: analysis_type.partial_show_path,
          locals: { exam: exam }
        = exam.analysis &.note
