<p id="notice"><%= notice %></p>

<h1>Injury Depths</h1>

<table>
  <thead>
    <tr>
      <th>Depth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @injury_depths.each do |injury_depth| %>
      <tr>
        <td><%= injury_depth.depth %></td>
        <td><%= link_to 'Show', injury_depth %></td>
        <td><%= link_to 'Edit', edit_injury_depth_path(injury_depth) %></td>
        <td><%= link_to 'Destroy', injury_depth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Injury Depth', new_injury_depth_path %>
