%script#in_body_orientation_component{ type: 'text/x-template' }
  = form_for InBodyOrientation.new, builder: VueFormBuilder, url: '' do |f|
    -# TODO: limit coordinate_system choice to what is available in
      the selected body_reference
    .panel.panel-default
      .panel-body
        = f.smart_select :coordinate_system,
                         '@change': 'updateCoordinateSystem'
        .row
          .col-xs-6
            = f.number_field :x, '@keyup': 'recomputeDistanceAngle'
            = f.number_field :y, '@keyup': 'recomputeDistanceAngle'
          .col-xs-6
            = f.number_field :distance, '@keyup': 'recomputeXY'
            = f.number_field :angle, '@keyup': 'recomputeXY'

%script#injury_component{ type: 'text/x-template' }
  = form_for setup_injury(Injury.new), builder: VueFormBuilder::Prefixed,
                                       url: '',
                                       html: { '@keyup': 'update',
                                               '@click': 'update' } do |f|
    %div{ 'v-if': 'error' } {{ error }}
    = f.smart_select :injury_type
    = f.text_field :description
    = f.fields_for :body_area do |ff|
      = ff.select :body_reference_id do
        %option{ 'v-for': 'bodyReference in expectedBodyReferences',
                 ':value': 'bodyReference.id' } {{ bodyReference.name }}
      %in-body-orientation-component{ 'v-on:update': 'saveBodyOrientation',
        'v-on:coordinate-system-update': 'updateCoordinateSystem',
        ':initial_coordinate_system': 'bodyReferenceCoordinateSystem',
        ':initial_x': 'bodyReferenceX',
        ':initial_y': 'bodyReferenceY' }
    = f.fields_for :injury_size do |ff|
      = ff.smart_select :shape
      = ff.number_field :length
      = ff.number_field :width
      = ff.smart_select :coordinate_system
      = ff.number_field :angle
    = f.fields_for :injury_depth do |ff|
      = ff.number_field :depth
      = ff.select :reached_organ_id do
        %option{ 'v-for': 'organ in reachableOrgans',
                 ':value': 'organ.id' } {{ organ.name }}
    = f.smart_select :time_sustained
    = f.text_field :note
    .panel.panel-default
      .panel-heading= t('activerecord.attributes.injury.photographs')
      .panel-body
        %div{ 'v-for': 'photograph in injury.photographs_attributes' }
          %img.img-responsive{ ':src': 'photograph.picture_url' }
          = label_tag t('activerecord.attributes.photograph.caption')
          .input-group
            = text_field_tag :caption, '',
                             class: 'form-control',
                             'v-model': 'photograph.caption',
                             '@keyup': 'update'
            %span.input-group-addon
              = delete_button 'deletePhotograph(photograph.id)'
      .panel-footer
        %label= t('autopsy_photograph_takings.add_photograph')
        = file_field_tag :picture, '@change': "onFileChange"
