= form_for injury, builder: VueFormBuilder, url: '' do |f|
  = f.smart_select :time_sustained
  = f.smart_select :injury_type
  = f.fields_for injury.body_area do |ff|
    = ff.collection_select :body_reference, injury.expected_body_references,
                           :id, :name
    = ff.fields_for ff.object.in_body_orientation do |fff|
      -# TODO: limit coordinate_system choice to what is available in
        the selected body_reference
      = fff.smart_select :coordinate_system
      = fff.number_field :x
      = fff.number_field :y
      = fff.number_field :distance
      = fff.number_field :angle
  = f.fields_for injury.injury_depth do |ff|
    = ff.number_field :depth
    = ff.collection_select :reached_organ, injury.reachable_organs, :id, :name
