<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @injury.description %>
</p>

<p>
  <strong>When alive:</strong>
  <%= @injury.when_alive %>
</p>

<p>
  <strong>Note:</strong>
  <%= @injury.note %>
</p>

<%= link_to 'Edit', edit_injury_path(@injury) %> |
<%= link_to 'Back', injuries_path %>
