<%= form_for(autopsy_type) do |f| %>
  <% if autopsy_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autopsy_type.errors.count, "error") %> prohibited this autopsy_type from being saved:</h2>

      <ul>
      <% autopsy_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :law %>
    <%= f.text_area :law %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
