<p id="notice"><%= notice %></p>

<h1>Autopsy Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Law</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @autopsy_types.each do |autopsy_type| %>
      <tr>
        <td><%= autopsy_type.name %></td>
        <td><%= autopsy_type.law %></td>
        <td><%= link_to 'Show', autopsy_type %></td>
        <td><%= link_to 'Edit', edit_autopsy_type_path(autopsy_type) %></td>
        <td><%= link_to 'Destroy', autopsy_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Autopsy Type', new_autopsy_type_path %>
