<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @autopsy_type.name %>
</p>

<p>
  <strong>Law:</strong>
  <%= @autopsy_type.law %>
</p>

<%= link_to 'Edit', edit_autopsy_type_path(@autopsy_type) %> |
<%= link_to 'Back', autopsy_types_path %>
