= form_for(setup_external_face_examination(exam), builder: VueFormBuilder, html: { id: 'external_face_examination' }, url: '') do |f|
  = f.hidden_field :id
  .row
    .col-xs-6
      = f.select :congestion, translated_congestions
    .col-xs-6
      = f.select :swelling, translated_swellings
  = f.text_field :nasal_cavity_content
  = render 'nested_dual_form', form: f, method: :external_eye_examinations,
           fields: { closed: { type: :select },
                     aperture: { type: :number_field },
                     eyelid_congestion: { type: :select },
                     eyelid_petechia: { type: :select },
                     eyelid_note: { type: :text_field},
                     conjunctiva_congestion: { type: :select },
                     conjunctiva_petechia: { type: :select },
                     conjunctiva_note: { type: :text_field},
                     cornea: { type: :text_field },
                     pupil: { type: :text_field },
                     diameter: { type: :number_field } }
  .panel.panel-default
    .panel-heading= t('activerecord.models.external_mouth_examination')
    .panel-body
      = f.fields_for :external_mouth_examination do |ff|
        = ff.hidden_field :id
        .row
          .col-xs-6
            = ff.smart_select :closed
          .col-xs-6
            = ff.number_field :aperture
        .row
          .col-xs-6
            = ff.select :petechia, translated_external_mouth_examination_petechia
          .col-xs-6
            = ff.select :tongue_tip, translated_external_mouth_examination_tongue_tips
        = render 'foreign_fluids_form', form: ff
        = ff.text_field :note
        .row
          .col-xs-12
            .panel.panel-default
              .panel-heading= t('activerecord.attributes.external_mouth_examination.tooth_examinations')
              .panel-body
                = render 'autopsies/external/teeth_form', mouth_form: ff
  = yield f
