= form_for(exam, builder: VueFormBuilder, html: { id: 'external_genitalia_examination' }, url: '') do |f|
  = f.hidden_field :id
  .row
    .col-xs-6
      = f.smart_select :hair_color
    .col-xs-6
      = f.number_field :hair_length
  = f.smart_select :sex
  = yield f
