= form_for(exam, builder: VueFormBuilder, html: { id: 'external_outline_examination' }, url: '') do |f|
  = f.hidden_field :id
  .row
    = f.label :sex, class: 'col-sm-4'
    .col-sm-8
      = f.select :sex, translated_sexes, prompt: true, label_name: false
  .row
    .col-xs-4
      = f.check_box :partial_body
    .col-xs-4
      = f.number_field :height
    .col-xs-4
      = f.number_field :weight
  = f.text_field :constitution

  .panel.panel-default
    .panel-heading= t "activerecord.models.livor_mortis"
    .panel-body.form-horizontal
      // The following input allows to at least initialize an empty array
      = hidden_field :external_outline_examination, :'livores_mortis_attributes[]'
      = f.fields_for :livores_mortis do |ff|
        = ff.hidden_field :id
        = ff.hidden_field :color
        = ff.hidden_field :position
        = ff.hidden_field :intensity
        = ff.hidden_field :on_finger_pressure
      .form-group{'v-for': "livor_mortis in livores_mortis_attributes"}
        .col-xs-3
          = label :livor_mortis, :color, t('activerecord.attributes.livor_mortis.color')
          = select :livor_mortis, :color, translated_livor_mortis_colors, {prompt: true}, {class: 'form-control', 'v-model': 'livor_mortis.color'}
        .col-xs-3
          = label :livor_mortis, :position, t('activerecord.attributes.livor_mortis.position')
          = select :livor_mortis, :position, translated_livor_mortis_positions, {prompt: true}, {class: 'form-control', 'v-model': 'livor_mortis.position'}
        .col-xs-2
          = label :livor_mortis, :intensity, t('activerecord.attributes.livor_mortis.intensity')
          = select :livor_mortis, :intensity, translated_livor_mortis_intensities, {prompt: true}, {class: 'form-control', 'v-model': 'livor_mortis.intensity'}
        .col-xs-3
          = label :livor_mortis, :on_finger_pressure, t('activerecord.attributes.livor_mortis.on_finger_pressure')
          = select :livor_mortis, :on_finger_pressure, translated_livor_mortis_on_finger_pressures, {prompt: true}, {class: 'form-control', 'v-model': 'livor_mortis.on_finger_pressure'}
        .col-xs-1
          %label &nbsp;
          %button.btn.btn-danger.btn-xs{'v-on:click.prevent': 'delete_livor_mortis(livor_mortis)'} X
      %button.btn.btn-default{'v-on:click.prevent': 'add_livor_mortis()'}= t 'helpers.add'
      = f.text_field :livor_mortis_note, label_name: t('activerecord.attributes.examination.note')
  .panel.panel-default
    .panel-heading= t "activerecord.models.rigor_mortis"
    .panel-body.form-horizontal
      // The following input allows to at least initialize an empty array
      %input{type: 'hidden', name: "external_outline_examination[rigores_mortis_attributes[]]"}
      - exam.rigores_mortis.each_with_index do |rigor_mortis, i|
        %input{type: 'hidden', name: "external_outline_examination[rigores_mortis_attributes[#{i}]][id]", value: rigor_mortis.id}
        %input{type: 'hidden', name: "external_outline_examination[rigores_mortis_attributes[#{i}]][joint]", value: rigor_mortis.joint}
        %input{type: 'hidden', name: "external_outline_examination[rigores_mortis_attributes[#{i}]][intensity]", value: rigor_mortis.intensity}
        %input{type: 'hidden', name: "external_outline_examination[rigores_mortis_attributes[#{i}]][category]", value: rigor_mortis.category}
      .form-group{'v-for': "rigor_mortis in rigores_mortis_attributes"}
        .col-xs-4
          %label= t "activerecord.attributes.rigor_mortis.joint"
          %select.form-control{'v-model': "rigor_mortis.joint"}
            - RigorMortis.joints.each do |joint, _|
              %option{value: joint}= t "body_parts.#{joint}"
        .col-xs-3
          %label= t "activerecord.attributes.rigor_mortis.intensity"
          %select.form-control{'v-model': "rigor_mortis.intensity"}
            - RigorMortis.intensities.each do |intensity, _|
              %option{value: intensity}= t "intensity.#{intensity}"
        .col-xs-4
          %label= t "activerecord.attributes.rigor_mortis.category"
          %select.form-control{'v-model': "rigor_mortis.category"}
            - RigorMortis.categories.each do |category, _|
              %option{value: category}= t "rigor_mortis.#{category}"
        .col-xs-1
          %label &nbsp;
          %button.btn.btn-danger.btn-xs{'v-on:click.prevent': 'delete_rigor_mortis(rigor_mortis)'} X
      %button.btn.btn-default{'v-on:click.prevent': 'add_rigor_mortis()'}= t 'helpers.add'
      .form-group.col-xs-12
        %label= t "activerecord.attributes.examination.note"
        %input.form-control{name: "external_outline_examination[rigor_mortis_note]", 'v-model': 'rigor_mortis_note', value: exam.rigor_mortis_note}
  .row
    .col-xs-6
      = f.number_field :rectal_temperature
    .col-xs-6
      = f.number_field :room_temperature
