<p id="notice"><%= notice %></p>

<h1>Explications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @explications.each do |explication| %>
      <tr>
        <td><%= explication.title %></td>
        <td><%= explication.content %></td>
        <td><%= link_to 'Show', explication %></td>
        <td><%= link_to 'Edit', edit_explication_path(explication) %></td>
        <td><%= link_to 'Destroy', explication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Explication', new_explication_path %>
