<p id="notice"><%= notice %></p>

<h1>Test Histopathologies</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @test_histopathologies.each do |test_histopathology| %>
      <tr>
        <td><%= test_histopathology.note %></td>
        <td><%= link_to 'Show', test_histopathology %></td>
        <td><%= link_to 'Edit', edit_test_histopathology_path(test_histopathology) %></td>
        <td><%= link_to 'Destroy', test_histopathology, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Test Histopathology', new_test_histopathology_path %>
