<%= form_for(external_outline_examination) do |f| %>
  <% if external_outline_examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(external_outline_examination.errors.count, "error") %> prohibited this external_outline_examination from being saved:</h2>

      <ul>
      <% external_outline_examination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sex %>
    <%= f.number_field :sex %>
  </div>

  <div class="field">
    <%= f.label :height %>
    <%= f.text_field :height %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :partial_body %>
    <%= f.check_box :partial_body %>
  </div>

  <div class="field">
    <%= f.label :constitution %>
    <%= f.text_field :constitution %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
