<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @external_outline_examination.sex %>
</p>

<p>
  <strong>Height:</strong>
  <%= @external_outline_examination.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @external_outline_examination.weight %>
</p>

<p>
  <strong>Partial body:</strong>
  <%= @external_outline_examination.partial_body %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @external_outline_examination.constitution %>
</p>

<%= link_to 'Edit', edit_external_outline_examination_path(@external_outline_examination) %> |
<%= link_to 'Back', external_outline_examinations_path %>
