- # Form for primary dual organs, including lungs, kidneys, etc.
- form_id_prefix = controller_name.singularize
.row
- [:left, :right].each do |deixis|
  .col-sm-6
    = t(deixis)
    = form_for(exam.send(deixis).take, builder: VueFormBuilder, html: { id: "#{form_id_prefix}_#{deixis}" }, url: '') do |f|
      = f.hidden_field :id
      = f.hidden_field :deixis
      = yield f
