- key_string = examination_type.key_string
.row
  %h1{id: "#{key_string}_head"}= t "section_title.#{examination_type.category}.#{examination_type.name}"
.row
  .col-sm-6
    - begin
      = render "autopsies/#{examination_type.category}/#{examination_type.name}_form", exam: exam do |f|
        = f.fields_for :examination do |ff|
          = ff.text_field :note
    - rescue ActionView::MissingTemplate
      = $!
  .col-sm-6
    %div.alert.alert-danger{id: "#{key_string}_errors"}
    %div{id: "#{key_string}_preview"}
      = render "autopsies/#{examination_type.category}/#{examination_type.name}", exam: exam
      - unless exam.respond_to? :each
        = exam.examination.try(:note)
      - else
        = exam.first.try(:examination).try(:note)
