-# @examination_type: Instance of ExaminationTypeDecorator
-# @exam: Instance derived of ExaminationBase (not a decorator!)
- key_string = examination_type.key_string
.row
  %h1{id: "#{key_string}_head"}= examination_type.section_title
.row
  .col-sm-6
    = render "#{examination_type.partial_show_path}_form", exam: exam do |f|
      - # Initialize examination
      - f.object.examination ||= Examination.new(examination_type: examination_type)
      = f.fields_for :examination do |ff|
        = ff.text_field :note
  .col-sm-6
    %div.alert.alert-danger{id: "#{key_string}_errors"}
    %div{id: "#{key_string}_preview"}
      - begin
        = render examination_type.partial_show_path, exam: exam.decorate
      - rescue # TODO Falls back to deprecated implementation. Remove this begin/rescue when decorators are all implemented
        %div{style: 'color:red'} #{$!} (no decorator support)
        = render partial: examination_type.partial_show_path,
          locals: { exam: exam }
      - unless exam.respond_to? :each
        = exam.examination.try(:note)
      - else
        = exam.first.try(:examination).try(:note)
