-#
  @examination_type: Instance of ExaminationTypeDecorator
  @exam: Instance derived of ExaminationBase (not a decorator!)
- key_string = examination_type.key_string
.row
  %h1{id: "#{key_string}_head"}= examination_type.section_title
.row
  .col-sm-6
    = render "#{examination_type.partial_show_path}_form", exam: exam do |f|
      - # Initialize examination
      - f.object.examination ||= Examination.new(examination_type: examination_type.object)
      = f.fields_for :examination do |ff|
        = ff.text_field :note
    = render 'examinations/injuries_form',
             examination_name: examination_type.key_string
  .col-sm-6
    %div.alert.alert-danger{id: "#{key_string}_errors"}
    %div{id: "#{key_string}_preview"}
      - decorated_exam = exam.decorate
      = render examination_type.partial_show_path, exam: decorated_exam
      = decorated_exam.examination_note
